/* GLOBAL RESETS */
* {box-sizing: border-box;}



//VARIABLES
$color-text-body: #1D252C;
$color-text-headings: rgba(0,0,0,1);
$color-accent:#EBE6E0;
$color-link:#1D252C;
$color-link-darker:#1746ac;
$color-accent-light: rgb(255,202,202);
$background-color: #F8F7F0;

$color-lightgrey: rgba(0,0,0,.5);

$font-family-sans: 'acumin-pro', Helvetica, Arial, sansserif;
$font-family-serif: 'garamond-premier-pro', Georgia, 'Times New Roman', Times, serif;
$serif-header: 'garamond-premier-pro-display', 'garamond-premier-pro', Georgia, 'Times New Roman', Times, serif;

$border-radius-large: 45px;
$border-radius-small: 15px;

//BREAKPOINTS
$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large:1250px; 

//IMPORTS
@import "partials/toc";
@import "partials/typography";
@import "partials/buttons";
@import "partials/media";
@import "partials/layout";
@import "partials/grid";
@import "partials/structure"; 
@import "partials/sitenav"; 
@import "partials/helpers";
@import "partials/animation";


 