//BUTTONS

.button{
    display: inline-block;
    background-color: $color-link;
    color: #ffff;
    text-decoration: none;
    padding: .5em;
    border-radius: 21px;
    margin: 1em 1em 1em 0;
    width: 310px;
    text-align: center;
    transition: .6s all ease;

    &:hover{
        color: #ffff;
        background-color: $color-link-darker;
        width: 350px;
        transition: .3s all ease;
    }
    
}

.button-alt{
    // background-color: pink;
    display: inline-block;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    color: $color-link;
    text-decoration: none;
    padding: .5em;
    border-radius: 21px;
    margin: 1em 1em 1em 0;
    width: 310px;
    text-align: center;

    &:hover-alt{
        color: $color-link;

    }
    
}