//RESET BODY
body{
    margin: 0;
}

//CONTAINER
.container {
    background: pink;
    margin: 0 auto;
    max-width: 1143px;
    padding: 0 4%;
}





// SIDE BY SIDE
.side-by-side{
    display: flex;

    .category-box{
        position: relative;
    }

    .text-box{
        position: absolute;
        // background-color: red;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

    }
}



//MEDIA QUERIES

//RESPONCIVE TYPEOGRAPHY
//SMALL
body {font-size: 87.5%;}

@media (min-width: $breakpoint-small) {
    body{ font-size: 100%; }
}

@media (min-width: $breakpoint-large) {
    body{ font-size: 112.5%; }
}

