// SITE-HEADER SITENAV

.site-header .site-nav {
    
    .menu-button{
        position: fixed;
        top: 1.5em;
        left: 5%;
        margin: 0;
        z-index: 20;
        cursor: pointer;
        display: flex;
        background-color: transparent;
        border: none;
        align-items: center;

        span{
            display: inline-block;
            margin-left: 1em;
            font-family: $font-family-sans;
            font-size: 1em;
            line-height: 1;
        
        }




        svg{
            fill: $color-text-body;
            rect {
                transition: .3s all ease-out;
            }

        }
    }

    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: $color-text-headings;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translate(-100%,0);
        transition: .3s all ease-out;
        z-index: 1;

    }

    li{
        font-size: 5vw;
        min-width: 20vw;
        transform: translate(10%,0);
        transition: .3s all ease-out .3s;
        opacity: 0;
    }

    #menubar-top, #menubar-bottom{
        transform-origin: center;
    }
    
    &[data-navstate="open"] {

        .menu-button{
            position: fixed;
            // top: 0;
            // left: 0;
        }

        #menubar-top {
            transform: translate(3px,4px) rotate(-45deg);
            fill: $background-color;
        }

        #menubar-bottom {
            transform: translate(3px,-4px) rotate(45deg);
            fill:$background-color
        }


        ul{
           transform: translate(0,0);

        }
        li{
            transform: translate(0,0);
            opacity: 1;

            span{
                font-family: $serif-header;
                font-size: .5em;
                color: $background-color;
                margin-right: .2em;
            }

            a{
                color: $background-color;
                font-family: $serif-header;
            }
           
        }
    }

}

.right-nav{
    // background-color: red;
    
    justify-content: flex-end;

    ul{
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li{
        margin: 0;
        padding: 0em;
    }

    a{
        padding: 0.75em;
    }
}


//Footer Site Nav
.site-footer .site-nav{

    h1{
        font-family: $font-family-sans;
        text-transform: uppercase;
        font-size: 1.5em;
        margin: 0;
    }
    
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;

    }
    a{
        display: inline-block;
        padding: 1em;
        line-height: 1;

    }
}