// BASIC STUFF
body{
    background-color: $background-color;
}

section {
    padding: 4em 0;
    margin: 0;
}

//Site Structure

.site-header{
    position:absolute;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    

    a{
        color: $color-text-body;
        text-decoration: none;
    }

    h1{
        font-family: $font-family-sans;
        text-transform: uppercase;
        font-size: 1.5em;
        margin: 0;
    }

}



// HERO SECTION
.hero {
    text-align: left;
    padding: 6em;
    min-height: 100vh;
    display: grid;
    place-items: center;

    .text-box{
        margin: 0 auto;

        h1{
            text-transform: uppercase;
            margin-bottom: 0;
            line-height: .8;
        }
        
        h2{
            font-size: 3.8em;
        }

        p{
           font-style: italic;
        }

        a{
            margin-top: 5em;
            text-transform: uppercase;
        }
    }
    
}

.girl-hero{

    &::before{
        background: red;
        content: "hello";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 66vh;
        z-index: -1;
        margin-left: -35vh;
        opacity: .4;

        background-image: url(../img/hero-girl-faded.jpg);
        background-size: cover;
        background-position: 80% center;
        @media (max-width: $breakpoint-small - 1) {
            display: none;
        }
    
    }

    // background-color: pink;
    // background-image: url(../img/hero-girl-faded.jpg); 
    // background-size: 45%;
    // background-repeat: no-repeat;
    // background-position: -370px center;
    

    @media (min-width: $breakpoint-small) {
        .content-box{
            display: flex;
            align-items: center;
            // justify-content: center;
        }
    
        .image-box{
            max-width: 30%;
            // align-items: left;
        }
    }
}


//FEATURED PIECES 

.featured-header{
    font-family: $font-family-sans;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2em;
}

.featured{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 55vw;


    .featured-piece{
        width: 330px;
        height: 544px;
        background: $color-accent;
        border-radius: $border-radius-small;
        margin: 0 1em;
    
        img{
           filter: drop-shadow(5px 5px 4px grey); 
        }

        .featured-type{
            margin: 0 1.5em 0;
            


            .featured-subsub{
                opacity: 40%;
                font-size: 1em;
            }

            .featured-sub{
                font-family: $font-family-serif;
                font-size: 1.7em;
            }

            .featured-price{
                font-family: $font-family-serif;
                font-style: italic;
                font-size: 1.5em;
            }
        }
    }
}

// SIDE BY SIDE

#catagories{
    padding: 0;
}

.side-by-side{
    display: flex;

    .category-box{
        position: relative;

        img{
            width: 50vw;
            height: 40em;
            object-fit: cover;

            &.rings{
                object-position: 50% 40%;
                
            }
        }
    }

    .text-box{
        position: absolute;
        // background-color: red;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        h1{
            font-style: italic;
            text-transform: uppercase;
            color: $background-color;
            margin: 0;
            line-height: .8;
        }

        a{ color: $background-color; }

        p{ text-align: center; }

    }
}

//Landing About

#about{
    background-color: $color-accent;
    background-size: cover;
    padding: 10em;
    background-position: 80% center;

    @media (max-width: $breakpoint-small - 1) {
        display: none;
}

.landing-about{
    display: flex;
    justify-content: left;
    align-content: center;

    .image-box{
        width: 50%;
    }

    .content-box{
        justify-content: center;
        margin: 0 auto;
        text-align: center;

        img{
            opacity: .5; 
            max-width: 4em;
            margin-bottom: 1.5em;  
        }
        
        h1{
            font-size: 4em;
            text-transform: uppercase;

            span{
                display: block;

                .special-italic{
                    font-style: italic;
                    text-transform: lowercase;
                }
            }

            i {
                text-transform: lowercase;
                margin-right: .2em;
            }
        }

    
    }
}


// SOCIAL SECTION

#social{
    background-color: #F2F2F2;
    // padding: 2em;
}

.social{
    

    p{
        font-family: serif;
        text-transform: uppercase;
        margin-bottom: 0px;
    }

    h1{
        font-family: sans-serif;
        font-weight:600;
        text-transform: uppercase;
        margin-bottom: .1em;
    }

    .lowercase{
        font-family: sans-serif;
        text-transform: lowercase;
    }
}

//TEACHERS SECTION
.teachers-gallery{
    display: flex;
    justify-content: space-between;
}

.teacher{
    p{

    }

    img{
        width: 15em;
    } 
}

//Site footer
.site-footer{
    display: flex;
    justify-content: center;
    padding: 1em;
    background-color: #292929;

    a{
        color: white;
        text-decoration: none;
    }

} 